<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-4 mt-5">
            <div class="forget-container p-5 mt-5">
                <div class="p-3 mt-3 mb-2 text-center">
                    <img src="/static/assets/images/padlock.svg" alt="lock">
                    <h2 class="mt-3">Can't sign in?</h2>
                    <p class="mt-3">Enter your email address and we will send you a link to restore access to your account.</p>
                </div>
                <div>
                    <form action="">
                        <div class="form-group text-center">
                            <input class="border-form form-control" type="email" placeholder="Enter your eamail address">
                            <button class="btn login-btn mt-3 ">Get link</button>
                        </div>
                    </form>
                </div>
                <hr>
                <div class="text-center p-1">
                    <a class="small" href="/signup">Create new Account!</a>
                </div>
            </div>
        </div>
    </div>
</div>