<div class="gradientHead pb-1">
    <nav class="navbar navbar-expand-lg navbar-dark p-3 navBgColor">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img src="/static/assets/images/errglelogo.svg" class="errgle-logo me-3" />
            <a class="navbar-brand" href="/">
                Errgle
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active home-nav-headings" href="#features-section">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active home-nav-headings" aria-current="page" href="#why-errgle-section">Why
                            Errgle?</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active home-nav-headings" aria-current="page"
                            href="./documentation">Documentation</a>
                    </li>
                </ul>
                <div class="links d-flex home-nav-btns">
                    <a class="nav-link" href="/login">Log in</a>
                    <a class="nav-link" href="/signup">Sign up</a>
                </div>
            </div>
        </div>
    </nav>
</div>

<section class="slider">
    <div class="container-fluid">
        <div class="slider-inner">
            <div class="slider-content col-6">
                <div class="content-text">
                    <h1>Monitor applications confidently with the best quality & performance</h1>
                    <p>Deliver the best user experience through a comprehensive platform that will assist you uncover,
                        analyze and fix any app performance issues</p>
                </div>
                <div class="content-links">
                    <a href="/signup">Get Started</a>
                    <a href="mailto:errgle@gmail.com">Contact</a>
                </div>
            </div>

            <div class="slider-img col-6">
                <img src="/static/assets/images/home-hero.svg" alt="">
            </div>
        </div>
    </div>
</section>


<section class="solutions" id="features-section">
    <div class="container">
        <h1>The Complete Solution for your Websites</h1>
        <div class="solutions-inner d-flex row">
            <div class="solution-card col-4">
                <img src="/static/assets/images/Bug-Reporting.svg" alt="">
                <strong>Bug <br /> Reporting</strong>
                <span>Detect bugs and release with confidence</span>
            </div>
            <div class="solution-card col-4">
                <img src="/static/assets/images/Crash-Reporting.svg" alt="">
                <strong>Crash <br /> Reporting</strong>
                <span>Identify and resolve severe crashes</span>
            </div>
            <div class="solution-card col-4">
                <img src="/static/assets/images/APM.svg" alt="">
                <strong>App Performance <br /> Monitoring</strong>
                <span>Improve your user experience quality</span>
            </div>
        </div>
    </div>
</section>

<section class="slider" id="why-errgle-section">
    <div class="container-fluid">
        <div class="slider-inner">
            <div class="slider-img col-6">
                <img src="/static/assets/images/whyErrgle.svg" alt="">
            </div>

            <div class="slider-content col-6">
                <div class="content-text">
                    <h1>So why choose Errgle?</h1>
                    <p>We identify your website errors and alert you as soon as it happens so you’ll always be the first
                        to know. <br>
                        <span class="best-part">The best part? </span> You can identify what kind of problems your
                        website and customers get
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slider feedback-slider">
    <div class="container-fluid">
        <div class="content-text-feedback">
            <h3 class="mint">"</h3>
            <h3>Software has the power to make the world a better place – but the real heros are the people behind the
                code along with the technology they use to ship better and faster software. Thus, I do believe in the
                people who run Errgle and pretty sure that Errgle monitoring tool will bring the best performance to
                your applications.</h3>
            <p>Elshad Aghazadeh - <span>EA Agency</span></p>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="footer-inner">
            <div class="footer-logo">
                <a href="/">
                    Errgle
                </a>
                <span class="footer-copy">Copyright &copy;2021, Team-2</span>
            </div>

            <div class="footer-nav">
                <p>Errgle is a powerful, Error Monitoring tool that gives you actionable insights into errors and
                    crashes impacting your users. Errgle monitors your full tech stack in real-time, from client-side
                    and server-side, to desktop and mobile. Have the peace of mind knowing that Errgle will detect and
                    surface every error, alongside who was affected, where they encountered the issue, as well as other
                    real user insights.</p>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>